<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suitelinks">
  <test name="Test">
    <classes>
      <class name="Script.links"/>
      <class name="Script.ReadPDF"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suitelinks -->
